.btn-top {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  opacity: .5;
  padding: 2rem;
  visibility: hidden;
  transition: opacity .3s;

  & img {
    width: 50px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
